
.hero{
    background-color:#a0f7ea;
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
}

.top-part{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
}

.top-part .left {
    text-align: left;
}

.top-part .right {
    text-align: end;
}


.prod-sec{
    height: 460px;
    border: 1px solid #ccc;
    display: flex;
    overflow-x: auto;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0px;
}

.prod-sec::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.card{
    min-width: 25%;
    height: auto;
    margin-right: 15px;    
}

.subtitle {
    color: #00C4A7;
}


.title{
    color: #4d4d4d;
}

.content{
    color: #504f4f;
}

.trank{
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:auto;
}

@media screen and (max-width: 1024px) {
    .columns{
        display: flex;
        flex-direction: column;
        padding: 50px 50px; 
    }

    .prod-sec{
        height: 410px;
        border: 1px solid #ccc;
        display: flex;
        overflow-x: auto;
        padding: 5px 20px;
        margin: 20px 0px;
        border-radius: 5px;
    }

    .card{
        min-width: 35%;
        height: auto;
        margin-right: 15px;    
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
    .columns{
        display: flex;
        flex-direction: column;
        padding: 0px 30px; 
    }

    .prod-sec{
        height: 420px;
        border: 1px solid #ccc;
        display: flex;
        overflow-x: auto;
        padding: 5px 20px;
        margin: 20px 0px;
        border-radius: 5px;
    }

    .card{
        min-width: 80%;
        height: auto;
        margin-right: 15px;    
    }
}

